@model RapChieuPhim.Models.Vee

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    .detail-view dl {
        margin-bottom: 20px;
    }

    .detail-view dt {
        font-weight: bold;
    }

    .detail-view dd {
        margin-bottom: 10px;
        margin-left: 0;
    }

    .backward a {
        margin-right: 10px;
    }

    .card-header {
        background-color: #f2f2f2;
        border-bottom: 1px solid #ddd;
    }

    .button-container {
        display: flex;
        justify-content: center;
        gap: 0.5cm;
    }

    .btn {
        margin: 5px;
    }
</style>

<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Chào Mừng Bạn đến Với HỆ THÔNG</h4>
                    <p class="mb-1">Validation</p>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Form Validation</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-validation">
                            <dl class="dl-horizontal detail-view" style="color: #343957">
                                <dt>
                                    Giờ bắt đầu
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.LichChieu.GioBatDau)
                                </dd>

                                <dt>
                                    Tên rạp chiếu
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.RapPhim.TenRapChieu)
                                </dd>

                                <dt>
                                    Tên Phim
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.LichChieu.Phim.TenPhim)
                                </dd>

                                <dt>
                                    Tên đăng nhập
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.TaiKhoan.TenDangNhap)
                                </dd>

                                <dt>
                                    Tên người dùng
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.TaiKhoan.ThongTin.TenNguoiDung)
                                </dd>

                                <dt>
                                    Địa chỉ
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.TaiKhoan.ThongTin.DiaChi)
                                </dd>

                                <dt>
                                    Giới tính
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.TaiKhoan.ThongTin.GioiTinh)
                                </dd>

                                <dt>
                                    Ngày sinh
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.TaiKhoan.ThongTin.NgaySinh)
                                </dd>

                                <dt>
                                    Ngày đặt
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.NgayDat)
                                </dd>

                                <dt>
                                    Giá vé
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.GiaVe)
                                </dd>

                                <dt>
                                    Số lượng
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Soluong)
                                </dd>
                                <dt>
                                    Ghế
                                </dt>
                                <dd>
                                    @foreach (var ghe in Model.Ghes)
                                    {
                                        @ghe.TenGhe <br />
                                    }
                                </dd>
                            </dl>
                        </div>
                        <div class="button-container">
                            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>