@model RapChieuPhim.Models.RapPhimm

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>RapPhim</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenRapChieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenRapChieu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TongSoPhong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TongSoPhong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThanhPho)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThanhPho)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuanHuyen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuanHuyen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhuongXa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhuongXa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KhungGio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhungGio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
